//= require bootstrap/dist/css/bootstrap
//= require bootstrap/dist/css/bootstrap-theme
//= require font-awesome/css/font-awesome
//
//= require vendor/pages-framework/assets/plugins/pace/pace-theme-flash
//= require vendor/pages-framework/assets/plugins/jquery-scrollbar/jquery.scrollbar
//= require vendor/pages-framework/pages/css/pages-icons

@import "vendor/pages-framework/pages/scss/color";
@import "vendor/pages-framework/pages/scss/var";
$base-img-url: "../images";
@import "vendor/pages-framework/pages/scss/mixins";
@import "vendor/pages-framework/pages/scss/modules";
@import "vendor/pages-framework/pages/scss/responsive";
