---
title: Proxifier - Home
---

<div class="welcome">
  <div class="row">
    <div class="col-sm-3">
      <div class="logo">
        <%= image_tag "middleman-logo.svg", width: 200, style: "padding: 40px; background-color: #ffaa00" %>
      </div>
    </div>
    <div class="col-sm-9">
      <web-app></web-app>
    </div>
  </div>
</div>

